
@{
    ViewBag.Title = "Espace de l'étudiant";
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}
@using GridMvc.Html
@using GestionDesAbsence.Models

@model List<AbsenceList>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Semaine</th>
            <th scope="col">Module</th>
            <th scope="col">Début_séance</th>
            <th scope="col">fin_séance</th>
        </tr>
    </thead>
  @foreach (var item in Model)
            {
      <tr>
          <td>@item.semaine.Code</td>
          <td>@item.module.NomModule</td>
          <td>@item.seance.Heure_debut</td>
          <td>@item.seance.Heure_fin</td>
      </tr>

            }  
       
</table>
