
@{
    ViewBag.Title = "Espace Des Professeurs";
    //ViewBag.Nom = ViewBag.nom;
    Layout = "~/Views/Shared/_LayoutProfesseur.cshtml";
}


@*user name = @User.Identity.Name*@
<div class="row justify-content-center py-5 ">
    <div class="col-md-8 btn btn-outline-danger">
        Semaine 8 - Lundi - 12/04/2021
    </div>
</div>
<div class="row justify-content-center">
    @{ 
        string[] color_list = { "info", "warning", "success", "danger" };
    }
        @for (int i = 0; i < 4; i++)
    {

        <div class="col-md-3 pt-3">
            <div class="card bg-light shadow">
                <div class="card-header text-white bg-@color_list[i] text-center">08:00 - 10:00</div>
                <div class="card-body">
                    <h5 class="card-title text-center">4 G.Info</h5>
                    <p class="card-text">Veuillez noter la présence</p>
                    <a href="/Professeur/Notez" class="btn btn-outline-@color_list[i]" >Notez</a>

                </div>
            </div>
        </div>

     }

</div>
