@{
    ViewBag.Title = "Authentification";
}


@if (@ViewBag.Msg != null)
{
    <div role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true", data-delay="1000" class="toast bg-danger text-white">
        <div class="toast-body">
            @ViewBag.Msg
        </div>
    </div>
}

@*Adminstrateur trigger modal*@
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#admin">Adminstrateur</button>*@
<div class="center row align-items-center">
    <div class="col"></div>
    <div class="col-md-10 col-sm-10 text-center">
        <h2 class="text-uppercase" id="title-color">S'authentifier autant qu'un</h2>
    </div>
    <div class="col"></div>
</div>
<div class="center row pt-3">
    <div class="col"></div>
    <div class="col-md-4 col-sm-10 text-center">
        @*Professeur trigger modal*@
        <button type="button" class="btn bg-teacher text-white" data-toggle="modal" data-target="#prof">Professeur</button>
    </div>
    <div class="col-md-4 col-sm-10 text-center">
        @*Etudiant trigger modal*@
        <button type="button" class="btn bg-student text-white" data-toggle="modal" data-target="#etudiant">Etudiant</button>
    </div>
    <div class="col"></div>
</div>





<!-- Admin Modal -->
<div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalCenterTitle">espace adminstrateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CheckAdmin", "Login", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" name="email" type="email" required />
                    </div>
                    <div class="form-group">
                        <label>Mot de passe:</label>
                        <input class="form-control" name="password" type="password" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Prof Modal -->
<div class="modal" id="prof" tabindex="-1" role="dialog" aria-labelledby="prof" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-teacher-color">
                <h5 class="modal-title text-uppercase" id="prof">espace professeur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CheckTeacher", "Login", FormMethod.Post))
            {
                <div class="modal-body ">
                    <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" name="email" type="email" required />
                    </div>
                    <div class="form-group">
                        <label>Mot de passe:</label>
                        <input class="form-control" name="password" type="password" required />
                    </div>
                </div>
                <div class="modal-footer bg-teacher-color">
                    <button type="submit" class="btn btn-outline-info">Login</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Etudiant Modal -->
<div class="modal" id="etudiant" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-student-color">
                <h5 class="modal-title text-uppercase " id="exampleModalCenterTitle">espace etudiant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CheckStudent", "Login", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" name="email" type="email" required />
                    </div>
                    <div class="form-group">
                        <label>Mot de passe:</label>
                        <input class="form-control" name="password" type="password" required />
                    </div>
                </div>
                <div class="modal-footer bg-student-color">
                    <button type="submit" class="btn btn-outline-info">Login</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>




